@using System.Web.UI.WebControls
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Examensarbete.Models.ViewModels.CalenderViewModel>
@{
    var loginStatusModel = Members.GetCurrentLoginStatus();
}


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginUmbracoForm("BookDate", "CalenderSurface", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.CalenderBokings, new { Value = @Model.CalenderBokings.Count })
                @Html.HiddenFor(m => m.Name, new { Value = @loginStatusModel.Name })
                @Html.AntiForgeryToken()

                if (TempData["BokingMassage"] != null)
                {
                    <div class="alert alert-dark">
                        <small class="form-text text-muted">@TempData["BokingMessage"]</small>
                    </div>
                }
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Boka resa till Kudoxa som @loginStatusModel.Name</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

             
                    <div class="form-group">
                        @Html.LabelFor(m => m.ArrivalDate)
                        @Html.EditorFor(m => m.ArrivalDate,
                            new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control date",
                                    @id = "date",
                                    @Name = "ArrivalDate",
                                    onkeydown = "return false",
                                    onpaste = "return false",
                                    autocomplete = "off"
                                }
                            })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ReturnDate)
                        @Html.EditorFor(m => m.ReturnDate,
                            new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control date",
                                    @id = "date",
                                    @Name = "ReturnDate",
                                    onkeydown = "return false",
                                    onpaste = "return false",
                                    autocomplete = "off"
                                }
                            })
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(m => m.NumberOfPeople)
                        @Html.TextBoxFor(m => m.NumberOfPeople, new
                   {
                       type = "number",
                       min = "1",
                       @class = "form-control",
                       onkeydown = "return false",
                       onpaste = "return false",
                       autocomplete = "off",
                   })
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" class="btn btn-info" value="Spara" />

                </div>
            }
        </div>
    </div>
</div>


@*Tabell med alla bokningar*@
<div class="row">

    <div class="col-sm-12">
        <table class="table table-responsive-md ">
            <thead class="table-dark">
                <tr>
                    <th>Namn</th>
                    <th>Antal personer</th>
                    <th>Ankomstdatum</th>
                    <th>Hemresa</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CalenderBokings.Count > 0)
                {

                    foreach (var boking in Model.CalenderBokings)
                    {
                        <tr>
                            <td>@boking.Name</td>
                            <td>@boking.NumberOfPeople</td>
                            <td>@boking.ArrivalDate.ToString("dd MMMM")</td>
                            <td>@boking.ReturnDate.ToString("dd MMMM")</td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">Inga bokningar är gjorda.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Button to Open the Modal -->
@if (loginStatusModel.IsLoggedIn)
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Boka resa
    </button>
}
else
{
    <a href="/login/" class="btn btn-primary" >
        Logga in för att boka resa
    </a>
}
