@using System.Web.UI.WebControls
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Examensarbete.Models.ViewModels.CalenderViewModel>


@using (Html.BeginUmbracoForm("BookDate", "CalenderSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.ArrivalDate)
        </div>
        <div class="col-lg-9">
            @Html.EditorFor(m => m.ArrivalDate,
                new { htmlAttributes = new
                {
                    @class = "form-control date",
                    @id = "date",
                    @Name = "ArrivalDate",
                    onkeydown = "return false",
                    onpaste = "return false"
                }
                })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.ReturnDate)
        </div>
        <div class="col-lg-9">
            @Html.EditorFor(m => m.ReturnDate,
                new { htmlAttributes = new
                {
                    @class = "form-control date",
                    @id = "date",
                    @Name = "ReturnDate",
                    onkeydown = "return false",
                    onpaste = "return false"
                }
                })

        </div>

    </div>

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(m => m.NumberOfPeople)
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.NumberOfPeople)
        </div>
    </div>
    <input type="submit" class="btn btn-info" value="Spara" />
}
