@inherits Umbraco.Web.Mvc.UmbracoViewPage<Examensarbete.Models.ViewModels.BlogPostViewModel>

<strong>@TempData["PublishFaild"]</strong>
@using (Html.BeginUmbracoForm("Post", "BlogPostSurface", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Subject)
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Subject)
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Headline)
        </div>
        <div class="col-lg-9">
            @Html.TextBoxFor(m => m.Headline)
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.Message)
        </div>
        <div class="col-lg-9">
            @Html.TextAreaFor(m => m.Message)
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3">
            @Html.LabelFor(m => m.ImageFile)
        </div>
        <div class="col-lg-9">
            @*@Html.TextBoxFor(model => model.ImageFile, new { type = "file" })*@
            <input type="file" name="imageFile" id="imageFile" />
        </div>
        
      
        
        
    </div>
    <input type="submit" class="btn btn-primary" value="Skicka" />
}
