
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BlogListingPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "subMaster.cshtml";
    var loginStatusModel = Members.GetCurrentLoginStatus();
}

@{
    var selection = Umbraco.Content(1075)
        .Children()
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);
}




<div class="container-fluid">

    <div id="blogListContainer">
        <div class="row">
        
            <div class="col-lg-12">
                <strong>@TempData["PublishFaild"]</strong>
                <h3 class="pull-left">Läs de senaste blogginläggen</h3>
              
                <span class="pull-right">@Html.Action("Index", "BlogPostSurface")</span>
              
                
            </div>
        </div>


        @foreach (var item in selection)
        {

            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                @if (item.Value("blogImage") == null)
                                {
                                    <img id="blogImg" src="~/Static/Images/Kudoxa/Main.jpg" alt=""/>
                                }
                                else
                                {
                                    <img id="blogImg" src="@item.Value("blogImage")" alt="Blog image">
                                }
                            </div>
                            <div class="card-body">
                                <h2 class="card-title"><a href="@item.Url">@item.Name</a></h2>
                                <p class="card-text" id="card-text">@item.Value("blogText")</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted pull-right">Skrevs @item.CreateDate.ToString("dd MMM yyyy")</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


