@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using Examensarbete.Models.ViewModels
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "subMaster.cshtml";
}

@if (@Html.ValidationSummary() != null)
{
    <div class="alert alert-danger">@Html.ValidationSummary()</div>
}


<h2>@Model.Value("headline")</h2>
@Model.Value("rte")
@Html.GetGridHtml(Model, "gridArea")